<<<<<<< HEAD
img{
    width:100px;
    height:100px;
}

/*#suppr{
    background-color:aqua;
}*/
=======
/*img{
    width:100px;
    height:100px;
}*/

#im {
    width: 5%;
}
>>>>>>> 9bfb396 (reprise30042023)
