<p>
    <img style="position:absolute;width:35px;height:25px;z-index:0;margin-top:10px;" src="{{asset('images/shopping.png')}}">
    <span class="bg-success" style="position: relative;z-index:500;top:0;font-size:1em;height:100%;" id="nb"></span>
</p>