<div style="margin-top:40px" class="col-3">
    <p>
        <button id="ajout" style="margin-top: 50%;" 
        class="btn btn-warning" data-ajout = "{{item.id}}">
            Ajouter au panier 
        </button>
    </p>
    <div id="divnb">
        <span >Nombre d'articles:</span>
        <span id="nb">
        </span>
        <span style="position:absolute;" class="fa fa-shpping-cart"></div>
        <a href="">
            <span id="voir" class="badge badge-warning" data-voir="voir">voir le panier</span>
        </a>
        <div id="voirpanier"></div>
    </div>
    
</div>