<div class="col-2">
    <p>
        <button style="margin-top: 50%;" 
        class="btn btn-warning" onclick="alerte('{{item.id}}')">
            Ajouter au panier 
        </button>
    </p>
    <div id="divnb">
        <span >Nombre d'articles:</span>
        <span id="nb">0
        </span>
        <span style="position:absolute;" class="fa fa-shopping-cart"></div>
        <a href="">
            <span class="badge badge-warning">voir le panier</span>
        </a>

    </div>
</div>